{% extends "videostore/base.html" %}

{% block title %}
    <title>Create New Movie</title>
{% endblock title %}

{% block content %}
    <div class="container mt-3">
        <h1>CREATE <span class="badge bg-primary">MOVIE</span></h1>
        {% if form %}
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        {% endif %}
    </div>
{% endblock content %}